# Ignorar la carpeta de módulos de Node.js
node_modules/

# Ignorar archivos específicos de configuración de VS Code
.vscode/

# Ignorar archivos de log y temporales (ejemplos comunes)
*.log
*.tmp
.DS_Store # Archivos de macOS

# Ignorar variables de entorno (si las tuvieras en el futuro)
.env