---
import 'katex/dist/katex.min.css';
import '../styles/styles.css';

const { frontmatter } = Astro.props;
const title = Astro.props.title || frontmatter?.title || "TheHouseOfPhi";
const lang = Astro.props.lang || frontmatter?.lang || "es";
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TheHouseOfPhi - Proyecto didáctico de física" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>