---
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <script is:inline>
        const savedLang = localStorage.getItem("preferredLang");
        const userLang = savedLang || navigator.language || navigator.userLanguage;
        
        if (userLang.startsWith("es")) {
            window.location.href = "/es/";
        } else {
            window.location.href = "/en/";
        }
    </script>
</head>
<body>
</body>
</html>
